hr {
    margin: 0;
}

.footer {
    background-color: var(--white);
    font-size: 16px;
    font-weight: 400;
    padding: 1em 0 4em 1em;
}

.footer__list {
    display: none;
}

.footer__list:hover {
    color: var(--orange);
}

.footer__list-link:hover {
    color: var(--orange);
    background-color: var(--white);
}



@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        justify-content: space-around;
    }

    .footer__title {
        font-size: 24px;
        margin-top: 1.5em;
        color: var(--black);
    }

    .footer__list-title {
        margin: 2em 0;
        color: var(--gray);
        font-size: 14px;
        text-transform: uppercase;
    }

    .footer__list-item {
        display: flex;
        align-items: center;
        margin: 1em 0;
        font-size: 14px;
    }

    .footer__list-link {
        text-decoration: none;
        color: var(--sec-gray);
        margin-left: 0.6em;
    }

    .footer__list {
        display: block;
    }
}

@media screen and (min-width: 1728px) {
    .footer {
        padding: 3em 0;
    }

    .footer__list {
        border-left: 1px solid var(--gray);
        padding-left: 1em;
    }

    .footer__list-title {
        margin: 0 0 2em 0;
    }
}