.topic {
    background: var(--blue-gradient);
    text-align: center;
}

.topic__title {
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
    padding: 1.5em 0 1em 0;
}

.topic__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topic__items {
    margin: 2em 0.5em;
}

.topic__link {
    text-decoration: none;
    color: var(--white);
    padding: 1em;
    background-color: var(--orange);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topic__title {
        font-size: 24px;
        padding-bottom: 1.5em;
    }

    .topic__link {
        font-size: 24px;
    }

    .topic__items {
        padding-bottom: 1.5em;
    }
}

@media screen and (min-width: 1728px) {
    .topic {
        padding: 2em 28vw;
    }
}